name: newlight fox valley
tagline: a home church in northeastern wisconsin
markdown: redcarpet
paginate: 4
paginate_path: "blog/page:num"
prose:
  rooturl: '_posts'
  siteurl: 'http://newlightchurch.github.io/'
  relativeLinks: 'http://prose.github.io/starter/links.jsonp'
  media: 'media'
  metadata:
    _posts:
      - name: "layout"
        field:
          element: "hidden"
          value: "post"
      - name: "title"
        field:
          element: "text"
          label: "Title"
      - name: "description"
        field:
          element: "text"
          label: "Description"